html,
body {
  height: 100%;
  font: 12px 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  background-color: black;

  @media screen and (min-width: 500px) {
    font-size: 15px;
  }

  > * {
    box-sizing: border-box;
  }
}

#root {
  display: flex;
  color: white;
  flex-flow: column;
  align-items: center;
  padding-top: 0.8em;
  height: 100%;

  > header {
    font-size: 3em;
    text-align: center;
  }

  .menu {
    display: flex;
    gap: 1em;
    margin-top: 2em;
    flex-wrap: wrap;
    justify-content: center;

    button {
      background-color: palevioletred;
      color: white;
      padding: 0.3em 0.4em;
      cursor: pointer;
      transition: all 0.2s;
      font-size: 1.7em;
      border-radius: 5px;
      box-shadow: 2px 2px 5px #fffa;
      text-transform: capitalize;

      &:hover {
        transform: rotate(5deg) scale(1.1);
      }

      &.active {
        background-color: cornflowerblue;

        &:after {
          content: '!';
        }
      }
    }
  }

  .giphy-grid {
    margin-top: 2em;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
